/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /*@import url('../../../public/css/caredove-public.css');*/


 .button.caredove-admin-button {
 	background: #007AD0;
 	border-color:#fff;
 	color:#fff;
 	background-image:url(../img/Caredove-WhiteIcon.svg);
 	background-repeat: no-repeat;
 	background-size: 1.25em;
 	background-position: 5px center;
 	text-indent:1.5em;
 }
 .button.caredove-admin-button:hover {
 	background-color: #009AFF;
 	color:#fff;
 	background-image:url(../img/Caredove-WhiteIcon.svg);
 	background-repeat: no-repeat;
 	background-size: 1.25em;
 	background-position: 5px center;
 }

.mce-caredove-tinymce-logo img{
 	max-width:200px;
 	width:200px;
 	height:32px;
 	margin-bottom:20px;
 }
 .mce-caredove-tinymce-description p {
 	padding:10px;
 	background:#F1F1F1;
 	border-radius:5px;
 }

 .caredove-sample-button-wrapper {
 	border: 1px solid red;
 }

 .mce-container.mce-window .mce-container-body.mce-abs-layout {
 	overflow: hidden;
 }

 .mce-container .caredove-sample-button {
 	border:1px solid orange;
 }

 .mce-container button.caredove-iframe-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border-radius:5px;
    background-color:#00A4FF;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 4px;
}
.mce-container button.caredove-iframe-button:hover {
    cursor:pointer!important;
}
.mce-container button.caredove-button-sm  {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.mce-container button.caredove-button-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.mce-container button.caredove-button-outline {
    border-width:2px;
    border-style:solid;
    border-color:#00A4FF;
    color:#000;
    background:none!important;
}

.mce-container button.caredove-button-solid {
    border-width:0;
}
